ul{
    list-style-type:none;
}

ul li{
    color:rgb(210, 205, 255);
    float:left;
    margin-top:2px;
    margin-left:2px;
    margin-right:2px;
    margin-bottom:2px;
}

li a{
  text-decoration:none;
  color:brown;
  font-size: 22px;
}

li a:hover{
    color:blue;

}


li a:visited{
    color:chartreuse;
}
