<form [formGroup]="formulario" (submit)="BuscarUsuarios()">
      <input type='text' formControlName="texto">
      <button>Buscar</button>
</form>
<table>
     <tr>
         <th>Id</th>
         <th>Nombres</th>
         <th>Apellidos</th>
         <th>País</th>
         <th>Ciudad</th>
         <th>Fecha Nacimiento</th>
     </tr>
     <tr *ngFor="let item of Lista | buscar:buscarDato">
         <td><a [routerLink]="['/userprofile',item.id]" routerLinkActive="router-link-active" >{{item.id}}</a></td>
         <td>{{item.nombre | uppercase}}</td>
         <td>{{item.apellidos | uppercase}}</td>
         <td>{{item.pais}}</td>
         <td>{{item.ciudad}}</td>
         <td>{{item.fechaNacimiento}}</td>
     </tr>

</table>
