<form [formGroup]="formulario">
    <p>
        <mat-form-field appearance="legacy">
          <mat-label>Id</mat-label>
          <input matInput placeholder="ID" formControlName="id">
      
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" formControlName="nombre">
         
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Apellidos</mat-label>
          <input matInput placeholder="Apellidos" formControlName="apellidos">
         
        </mat-form-field>
      </p>

</form>

