#fotos{
   display: flex;
   flex-wrap: wrap;
   list-style-type: none;
   font-family: 'Roboto', sans-serif;
}

span{
    display: inline-block;
    padding-top: 5px;
    vertical-align: top;
}

#fotos li{
    margin:10px;
}

#fotos li img{
    width:220px;
    height:220px;
}

