h2,h3{
    font-size: 22px;
}
/* formulario */
form{
   margin:10px;
}
ul li label{
    width: 200px;
    display: block;
    float: left;
    clear: both;
}
ul li{
   margin:10px;
}

ul li input{
    width:300px;
}



