body{
    font-family: sans-serif;
}

#seccion2:target{
    border:2px solid red;
    background:gray;
    transition:1s;
}

#contenedor{
    width:300px;
    background: gray;
    padding:10px;
    text-align: center;
}

#contenedor h1, #contenedor p{
	opacity:0;
}
#contenedor:hover h1{
	opacity:1;
	transition:2s;
}
#contenedor:hover p{
	opacity:1;
	transition:1s 1s;
}

#objeto1 {
    width:200px;
    -webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;
    -moz-transform:translate(0px,0px);
	-webkit-transform:translate(0px,0px);
	-o-transform:translate(0px,0px);
	transform:translate(0px,0px);
    transition:2s;
}
 #objeto1:target {
    -moz-transform:translate(150px,50px);
	-webkit-transform:translate(150px,50px);
	-o-transform:translate(150px,50px);
	transform:translate(150px,50px);
    transition:2s;
}   
