<form [formGroup]="formulario" (ngSubmit)="ValidarDatos()" novalidate>
     <ul>
         <li>
             <label for="usuario">
                 Usuario o correo electrónico
             </label>
              <input id="usuario" formControlName="usuario" type="email">
    <div *ngIf="usuario.errors && usuario.dirty">
        <div *ngIf="usuario.hasError('required')">El campo es obligatorio</div>
        <div *ngIf="usuario.hasError('maxlength')">El campo es obligatorio</div>

    </div>   
    </li>

         <li>
            <label for="clave">
               Contraseña
            </label>
            <input id="clave" formControlName="clave" type="password" maxlength="120">
        </li>
        <li>
            <button type="submit" [disabled]="formulario.invalid"> Iniciar Sesión</button>
        </li>
     </ul>

</form>
