#menu{
    
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
   
}
ul li {
    list-style: none;
    width: calc(100% / 4);
    height: 120px;
    text-align: center;

}
  
 